[Unit]
Description=Brook is a cross-platform(Linux/MacOS/Windows/Android/iOS) proxy software

[Service]
LimitCORE=infinity
LimitNOFILE=65536
LimitNPROC=65530
LimitSTACK=25600
ExecStart=/etc/brook/brook wssserver --domainaddress DOMAIN:4443 --password PASS --cert /etc/ssl/cert.pem --certkey /etc/ssl/certkey.pem --tcpTimeout 0 --udpTimeout 60
KillMode=control-group
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
